.nav {
    height: 200px;
    
}

.backgroundimage {
    background-image:url(assests/banner-2.png);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 450px;
    width: 100%;
   
}